---
layout: archive
---

{{ content }}

<font size="+20"> About </font>
<br>

<p> I am a postdoctoral researcher at <a href="https://www.publichealth.columbia.edu/academics/departments/biostatistics">the Department of Biostatistics</a>, Columbia University. I work with <a href="https://www.lindavaleri.com/">Dr. Linda Valeri</a> on developing causal inference methodology for time series data/mobile health data, in the application of mental health disease. I received my Ph.D. training with <a href="http://www.crawfordlab.io/">Dr. Forrest W. Crawford</a>, in the <a href="https://publichealth.yale.edu/biostat/"> School of Public Health</a> at Yale University.</p>
<p> I am interested in developing statistical tools to solve real-world problems in epidemiology and public health. My current research projects center around My current research projects center around (1) develop causal inference approaches for n-of-1 observational studies using wearable devices (2) evaluating the effect of time-varying exposures (e.g., social activity) on time series outcomes (e.g., patients' mental status), in the presence of time-varying confounders; (3) evaluating infectious disease outcomes, and use methods covering causal inference, survival analysis, and non-parametric estimation. </p>
<p> Here are my <a href="/assets/pdffiles/CV_xiaoxuancai.pdf">CV</a> and <a href="/assets/pdffiles/Xiaoxuan_Research_Statement.pdf">Research statement</a>.

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
