---
layout: archive
---

{{ content }}

<font size="+20"> About </font>
<br>

<p> I am currently a 5th-year Ph.D. student (graduating May 2020) working with <a href="http://www.crawfordlab.io/"> Forrest W. Crawford</a>, in the <a href="https://publichealth.yale.edu/biostat/"> School of Public Health</a> at Yale University.</p>
<p> I am interested in developing statistical tools to solve real-world problems in epidemiology and public health. My current research projects center around evaluating infectious disease outcomes, and use methods covering causal inference, survival analysis, and non-parametric estimation. </p>
<p> Here are my <a href="/assets/pdffiles/CV_xiaoxuancai.pdf">CV</a> and <a href="/assets/pdffiles/Xiaoxuan_Research_Statement.pdf">Research statement</a>.

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
