---
layout: archive
---

{{ content }}

<font size="+20"> About </font>
<br>

<p> I am a postdoctoral researcher at <a href="https://www.publichealth.columbia.edu/academics/departments/biostatistics">the Department of Biostatistics</a>, Columbia University. I work with <a href="https://www.lindavaleri.com/">Dr. Linda Valeri</a> on developing causal inference methodology for time series data/mobile health data, in the application of mental health disease. I received my Ph.D. training with <a href="http://www.crawfordlab.io/">Dr. Forrest W. Crawford</a>, in the <a href="https://publichealth.yale.edu/biostat/"> School of Public Health</a> at Yale University.</p>
<p> My research is devoted to addressing statistical challenges and methodological problems in causal inference, missing data, mediation analysis, and machine learning. My work covers applications in intervention evaluation and trial design for outcomes subject to interference (e.g. infectious disease), as well as the analysis of multivariate time series of digital data from mobile devices. </p>
<p> Here are my <a href="/assets/pdffiles/C.V._XiaoxuanCai.pdf">CV</a> and <a href="/assets/pdffiles/Xiaoxuan_Research_Statement.pdf">Research statement</a>.

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
